body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: rgb(34, 34, 34);
  width: 100vw;
  overflow-x: hidden;
}

h2,
label {
  color: hsl(207, 8%, 21%);
}

button,
select {
  cursor: pointer;
}

button,
select {
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 3px;
  min-width: 100px;
  min-height: 24px;
  padding: 4px;
  font-weight: bold;
  transition: all 0.3s;
}

button[disabled] {
  cursor: initial;
}

button[disabled]:hover {
  background-color: #fff;
}

button:hover {
  background-color: rgb(224, 224, 224);
}

input {
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 3px;
  min-width: 100px;
  min-height: 24px;
  padding: 4px;
}

.hidden {
  display: none !important;
}

.rejected {
  border: 1px solid red !important;
}

.container {
  /* max-width: 1300px; */
  margin: 0 50px;
}

/* header styles */
header {
  background-color: rgb(50, 50, 50);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  margin-bottom: 5px;
  width: 100vw;
  height: 50px;
}

.header__logo {
  color: #fff;
  font-weight: bold;
  font-size: 14px !important;
}

.header__items-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1130px; */
  margin: 0 50px;
  height: 100%;
}

.header__right-side {
  display: flex;
}

.header__create-car-btn {
  margin-right: 5px;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
}

.header__create-car-btn:hover {
  background-color: #2cb64c;
}

/* create car form styles */
.car-form {
  border-radius: 5px;
  width: 400px;
  margin: 0 auto;
  background: #fff;
  animation: slide-down 0.4s;
  position: relative;
}

.car-form__closer {
  position: absolute;
  color: #000;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.3s;
}

.car-form__closer:hover {
  opacity: 0.6;
}

.car-form select,
.car-form textarea,
.car-form button,
.car-form input {
  margin: 2px 2px 10px 2px;
  border: 1px solid #ced4da;
  background: #fff;
  border-radius: 3px;
  min-width: 100px;
  min-height: 24px;
  padding: 4px;
}

.car-form h2 {
  position: relative;
  text-align: center;
}

.car-form h2::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 8%;
  background: #2daee0;
  height: 2px;
  bottom: -4px;
}

.car-form button.delete {
  background-color: #c82333;
  border-color: #bd2130;
  color: #fff;
}

.car-form button.delete:hover {
  background-color: #b82030;
}

.car-form button.edit {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.car-form button.edit:hover {
  background-color: #f7b900;
}

.car-form button.primary {
  background: #2daee0;
  border-color: #2daee0;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.car-form button.primary:hover {
  background: #2dade0d7;
}

.car-form textarea,
.car-form button {
  width: 100%;
}

.car-form textarea {
  margin-top: 6px;
}

.car-form textarea::placeholder {
  font-family: sans-serif;
  font-size: 14px;
}

.car-form__validation-error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 20px;
}

/* cars list styles */
.cars-list {
  width: 100%;
  background-color: rgb(247, 247, 247);
  margin-bottom: 20px;
}

.cars-list th {
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #dee2e6;
  font-weight: normal;
}

.cars-list thead th {
  font-weight: bold;
}

.cars-list tbody tr {
  cursor: pointer;
}

.cars-list tbody tr:hover {
  background-color: rgb(224, 224, 224);
}

.cars-list__error-msg {
  font-size: 20px;
  position: absolute;
  text-align: center;
  margin: 60px 0 0 20px;
  top: 0;
  padding: 30px;
  background-color: rgba(50, 50, 50, 0.685);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  color: aliceblue;
  border-radius: 20px;
  animation: slide-down 0.6s;
}

/* paginator styles */
.paginator {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  float: right;
  margin: 5px 3px 5px 0;
}

/* modal styles */
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.404);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: opacity-grow 0.3s linear;
}

@keyframes opacity-grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
